@import 'tailwindcss';

/* eulyoo */
@font-face {
    font-family: 'eulyoo1945';
    src: url('/assets/fonts/eulyoo1945/Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eulyoo1945';
    src: url('/assets/fonts/eulyoo1945/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* spoqa */
@font-face {
    font-family: 'SpoqHanSansNeo';
    src: url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqHanSansNeo';
    src: url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqHanSansNeo';
    src: url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqHanSansNeo';
    src: url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqHanSansNeo';
    src: url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@theme {
    --font-eulyoo: "eulyoo1945", sans-serif;
    --font-spoqa: "SpoqHanSansNeo", sans-serif;

    --color-primary: #E4D7CF;
    --color-secondary: #EBE8E6;
    --color-surface: #393939;

    --color-background: #EBE8E6;
    --color-border-base: #393939;

    --height-base: calc(100dvh - 55px);
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

@layer base {
    *::-webkit-scrollbar {
        display: none;
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
        font-family: 'SpoqHanSansNeo', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-weight: bold;
    }
    li {
        list-style: none;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    nav {
        font-family: 'eulyoo1945', serif;
    }

    input {
        padding: 18px 24px;
        background-color: #fff;
        border-radius: 8px;
        font-size: 16px;
        width: 100%;
    }
}

@layer components {
    header nav a:hover {
        padding-bottom: 6px;
        transition: all 0.3s ease-in-out;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .border-t-base {
        border-top: 1px solid var(--color-border-base);
    }
    .border-b-base {
        border-bottom: 1px solid var(--color-border-base);
    }
    .border-l-base {
        border-left: 1px solid var(--color-border-base);
    }
    .border-r-base {
        border-right: 1px solid var(--color-border-base);
    }

    .fcc {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fcs {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .fcb {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fcx {
        display: flex;
        align-items: center;
    }

    .last-row {
        border-bottom-width: 0px;
    }
}

@media (min-width: 1020px) {
    .nth-child-3\:border-0:nth-child(3n) {
        border-right-width: 0px;
    }
    .nth-child-4\:border-0:nth-child(4n) {
        border-right-width: 0px;
    }
    .nth-child-5\:border-0:nth-child(5n) {
        border-right-width: 0px;
    }
}
@media (max-width: 1020px) {
    .nth-child-3\:border-0:nth-child(2n) {
        border-right-width: 0px;
    }
    .nth-child-4\:border-0:nth-child(3n) {
        border-right-width: 0px;
    }
    .nth-child-5\:border-0:nth-child(3n) {
        border-right-width: 0px;
    }
}
@media (max-width: 767px) {
    .nth-child-3\:border-0:nth-child(1n) {
        border-right-width: 0px;
    }
    .nth-child-4\:border-0:nth-child(1n) {
        border-right-width: 0px;
    }
    .nth-child-5\:border-0:nth-child(1n) {
        border-right-width: 0px;
    }
}